<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResultManagementSystemKalpa.Properties.Settings.modelConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ResultManagementSystemKalpa.Properties.Settings.Database81ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database81.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>